<p>login works!</p>
<h1>Ingresar</h1>
{{loginForm.value |json}}
{{loginForm.valid}}
<div class="container" style="background-image: url(‘https://png.pngtree.com/background/20210711/original/pngtree-cartoon-reading-day-h5-background-picture-image_1083241.jpg
’);">
    <form [formGroup]="loginForm">
        <label>Ingrese Correo:</label>
        <input type="email" formControlName="email">
        <br>
        <label>Ingrese contraseña:</label>
        <input type="password" formControlName="password">
        <br>
        <button (click)="funIngresar()" [disabled]="!loginForm.valid">Ingresar</button>
    </form>

    <div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
        <div class="motivational-section">
            <div class="motivational-content">
                <h1>Bienvenidos</h1>
                <img src="https://static.vecteezy.com/system/resources/previews/000/660/248/non_2x/education-book-logo-vector.jpg" alt="Motivation Image" class="circular-border">
                <p>"En el mágico reino de las letras, cada libro es un portal hacia un universo infinito de posibilidades, donde las palabras bailan al ritmo de la imaginación y las páginas susurran secretos ancestrales. En este santuario de sabiduría y maravilla, exploran mundos desconocidos y descubren el poder transformador de la mente humana. En las estanterías de una librería, los sueños toman forma, las ideas se entrelazan y los corazones encuentran consuelo en la belleza de la palabra escrita."</p>
            </div>
            <div class="motivational-buttons">
                <button class="p-3 text-xl">Iniciar Sesión</button>
                <button class="p-3 text-xl">Registrarse</button>
            </div>
        </div>
        <div class="surface-card py-8 px-5 sm:px-8">
            <div class="text-center mb-5">
                <img src="assets/demo/images/login/avatar.png" alt="Image" class="mb-3">
                <div class="text-900 text-3xl font-medium mb-3">Welcome, Isabel!</div>
                <span class="text-600 font-medium">Sign in to continue</span>
            </div>

            <div>
                <label for="email1">Email</label>
                <input id="email1" type="text" placeholder="Email address" pInputText class="mb-5">

                <label for="password1">Password</label>
                <input id="password1" type="password" placeholder="Password" pInputText class="mb-5">

                <button pButton pRipple label="Sign In" class="p-3 text-xl" [routerLink]="['/']"></button>
            </div>
        </div>
    </div>
</div>
