<div class="card-menu">
    <div class="search-container">
        <input type="text" class="search-input" placeholder="¿Qué libro estás buscando?">
        <button class="search-button">
            <img src="https://cdn-icons-png.flaticon.com/512/622/622669.png" alt="Buscar" class="search-icon">
        </button>
    </div>
    <p-menubar [model]="items"></p-menubar>
    <a routerLink="/ruta-de-tu-apartado">
        <img src="https://cdn-icons-png.flaticon.com/512/1626/1626656.png" alt="Imagen" class="menu-image">
    </a>
</div>
